.tTag {
  display: inline-block;
  padding: 2px 4px;
  font-size: 12px;
  line-height: 14px;
  border-radius: 4px; }
  .tTag:nth-child(n + 2) {
    margin-left: 6px; }
  .tTag--red {
    color: #EF6A79;
    border: 1px solid #EF6A79; }
  .tTag--blue {
    color: #5BA4E8;
    border: 1px solid #5BA4E8; }

.tBtn {
  border: none;
  width: 50px;
  height: 28px;
  line-height: 28px;
  border-radius: 14px;
  text-align: center;
  background-color: #EF6D83;
  color: #fff;
  font-size: 12px; }
